
.inputFormDiv {
  margin-top: 11.5%;
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 3em;
  /* background-color:yellow; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.inputFormTitle {
  font-size: 2.5em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.inputFields {
margin-right: 1.5em;
width: 50vw;
height: 1.5em;
}

/* media query for tablet */
@media only screen and (max-width: 768px) {
  
}
  /* media query for mobile phones */
@media only screen and (max-width: 375px) {

}