.formContainer {
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
  border-radius: 0px;
  background-color: #ffffff85;
  z-index: 999;
}

.formTitle {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.6em;
  margin-top: 1.2em;
  margin-left: auto;
  margin-right: auto;
}

.formLabel {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-align: left;
  margin-left: 3em;
}

.formInput {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 1em;
  
}

.formSubmit {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 600;
  border-radius: 15px;
  border: 1px solid #ffe338;
  background-color: #ffe338;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 5.5em;
  display: flex;
  justify-content: center;
  align-self: center;
  
}

a{
  text-decoration: none;
  color: black;
}

/* media query for tablet */
@media only screen and (max-width: 768px) {
  
}
  /* media query for mobile phones */
@media only screen and (max-width: 375px) {

}
